extends layouts/login-layout

block content
  .loginContainer
    h1 Register

    form#form(method="post", onsubmit="return validateForm();")
      p.errorMessage=errorMessage
      input(type="text", name="firstName", placeholder="First Name", value=firstName, required="")
      input(type="text", name="lastName", placeholder="Last Name", value=lastName, required="")
      input(type="text", name="username", placeholder="Username", value=username, required="")
      input(type="email", name="email", placeholder="Email", value=email, required="")
      input#password(type="password", name="password", placeholder="Password",value=password, required="")
      input#confirm-password(type="password", name="confirmPassword", placeholder="Confirm Password", required="")
      input(type="submit", value="Register")
      a(href="/auth/login") Already have an account? Click here

  script.
    function validateForm() {
      var password = document.getElementById("password");
      var confirmPassword = document.getElementById("confirm-password");

      if (password.value !== confirmPassword.value) {
        alert("Passwords do not match! Please try again.");
        return false;
      }
      return true;
    }
